:root {
    --bumn-02: #0093ad;
    --bs-primary: var(--bumn-02);
    --neutral-25: #f9f9f9;
    --neutral-400: #8f8f8f;
    --neutral-800: #3d3d3d;
    --success-500: #12b76a;
    --neutral-100: #e8e8e8;
    --neutral-300: #b1b1b1;
    --gray-100: #d1d5db;
    --primary-500: #182958;
    --bumn-secondary-alt-300: #C5D0D7;
    --bumn-primary-300: #797E99;
    --Magenta-01: #E51B70;
    --Magenta-02: #1C1566;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--neutral-800);
}

hr {
    background-color: var(--neutral-100);
    opacity: 1;
}

.bg-neutral-25 {
    background-color: var(--neutral-25);
}

.bg-neutral-800 {
    background-color: var(--neutral-800);
}

/* Text utils */

.text-primary {
    color: var(--bs-primary) !important;
}

.text-primary-500 {
    color: var(--primary-500) !important;
}

.text-neutral-400 {
    color: var(--neutral-400);
}

.text-neutral-800 {
    color: var(--neutral-800);
}

.text-success-500 {
    color: var(--success-500);
}

.text-primary-300 {
    color: var(--bumn-primary-300) !important;
}

.fw-bold {
    font-weight: 700 !important;
}

/* Border utils */
.border-neutral-800 {
    border-color: var(--neutral-800) !important;
}

.border-bumn-secondary-alt-300 {
    border: 1px solid var(--bumn-secondary-alt-300) !important;
    border-radius: 8px !important;
}

/* Buttons */

.btn.btn-primary {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
}

.btn.btn-primary:focus:not(.btn-active),
.btn.btn-primary:hover:not(.btn-active) {
    background-color: #00849c !important;
}

.btn.btn-success {
    border-color: var(--success-500);
    background-color: var(--success-500);
}

.btn.btn-magenta-primary {
    color: white;
    border-radius: 8px;
    background: linear-gradient(45deg, #E51B70 0%, #F04E35 100%);
}

.btn.btn-magenta-primary:focus:not(.btn-active),
.btn.btn-magenta-primary:hover:not(.btn-active) {
    background: linear-gradient(45deg, #F04E35 0%, #E51B70 100%);
}

.btn-warning-500 {
    color: #000;
    background-color: #F79009;
    border-color: #F79009;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
        0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-warning-500:hover {
    color: #000;
    background-color: #F04E35;
    border-color: #F04E35;
}


/* Forms */
.form-control[readonly] {
    background-color: #eff2f5;
}

/* Select2 */
.form-select.is-invalid+.select2 .form-select {
    border-color: var(--bs-danger);
}

/* TinyMCE */
.is-invalid+.tox-tinymce {
    border-color: var(--bs-danger);
}

/* Tables */

.table,
.table tr,
.table td {
    color: inherit;
}

.scrollable-table-body {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    display: table-caption;
}

/* Badges */

.badge {
    white-space: normal;
}

/* Stepper */

.stepper-dots .stepper-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.stepper-dots .stepper-wrapper {
    position: relative;
}

.stepper-dots .stepper-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepper-dots .stepper-item .dot-active {
    display: none;
}

.stepper-dots .stepper-item .line {
    width: 80px;
    height: 2px;
    background: var(--gray-100);
}

.stepper-dots .stepper-label {
    position: absolute;
    text-align: center;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral-300);
}

.stepper-dots .stepper-item.current .dot {
    display: none;
}

.stepper-dots .stepper-item.current .dot-active {
    display: block;
}

.stepper-dots .stepper-item.current .stepper-label {
    color: inherit;
    font-weight: bold;
}

.stepper [data-kt-stepper-element="content"] {
    flex-direction: column;
}

/* Notification */

.notif-item {
    border-top: 1px solid #f3f3f3;
    cursor: pointer;
}

.notif-item:hover {
    background-color: #f3f3f3;
    border: none;
    border-radius: 8px;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-lg {
    font-size: 16px;
    line-height: 24px;
}

.menu-item .menu-link .menu-title-magenta {
    color: var(--Magenta-02);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding-left: 4px;
}

.menu-item .menu-link.active,
.menu-item .menu-link:hover {
    background: linear-gradient(45deg, #E51B70 0%, #F04E35 100%);
}

.menu-item .menu-link.active .menu-title-magenta,
.menu-item .menu-link:hover .menu-title-magenta {
    color: #FFF;
}

.menu-item .menu-link.active .menu-icon i,
.menu-item .menu-link:hover .menu-icon i {
    color: #FFF !important;
}

.menu-item .menu-accordion .show .menu-link {
    background: linear-gradient(45deg, #E51B70 0%, #F04E35 100%);
}

.menu-sub .menu-item .menu-link.active,
.menu-sub .menu-item .menu-link:hover {
    background: linear-gradient(45deg, #E51B70 0%, #F04E35 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fill-icon {
    fill: var(--Magenta-02);
}

.menu-item .menu-link.active .fill-icon,
.menu-item .menu-link:hover .fill-icon {
    fill: #FFF;
}

.menu-item.menu-accordion .fill-arrow {
    stroke: var(--Magenta-02);
}

.menu-item.menu-accordion.show .fill-arrow {
    transform: rotate(180deg);
}

.menu-item.menu-accordion .menu-link.active .fill-arrow,
.menu-item.menu-accordion .menu-link:hover .fill-arrow {
    stroke: #FFF;
}

.menu-item.menu-accordion.show .child.menu-link {
    background: #FFF;
}

.menu-sub .menu-item .child.menu-link.active,
.menu-sub .menu-item .child.menu-link:hover {
    background: linear-gradient(45deg, #E51B70 0%, #F04E35 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.child-arrow {
    stroke: var(--Magenta-02);
}

.menu-item.menu-accordion.show .menu-sub.menu-sub-accordion.show .menu-item.menu-accordion.show .child-arrow {
    transform: rotate(180deg);
}

[data-kt-aside-minimize="on"] .menu-item .menu-link .menu-title-magenta {
    display: none;
}

.aside .aside-logo .logo-minimize {
    display: none;
}